/* Main Page Styling */
body{
    background-color: rgba(99, 0, 58, 1);
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

header, footer {
    margin: 0 auto;
    border: 1px solid rgba(233, 245, 252, 1);
    padding: .5rem;
    background-color: rgba(16, 41, 67, 1);
    display: grid;
    align-items: center;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

main {
    background-color: rgba(233, 245, 252, 1);
    padding: 1rem;
}


/* Element Styling */
h1 {
    margin: 10px 0 0;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    color: rgba(28, 69, 111, 1);
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: rgba(28, 69, 111, 1);
    font-weight: bold;
}

h4 {
    margin: 10px 0 0;
    font-size: 18px;
    color: rgba(28, 69, 111, 1);
    text-align: center;
}

h5 {
    margin: 10px 0 0;
    font-size: 16px;
    color:rgba(28, 69, 111, 1);
    text-align: center;
}

p {
    margin: 0;
}

li a {
    color: rgba(16, 41, 67, 1);
    font-weight: bold;
}



/* Header Styling */
header {
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 150px 1fr;
}

.title {
    padding: 10px 10px 20px;
    color: rgba(233, 245, 252, 1);
    text-align: center;
    font-size: 30px;
}

.logo {
    width: 140px;
}

.page-navigation {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page-navigation li {
    flex: 1 1 auto;
}

.page-navigation a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(37, 150, 222, 1);
    border: 1px solid rgba(28, 69, 111, 1);
    font-size: 1.2rem;
}

.link:hover {
    color: rgba(247, 0, 145, 1);
    background-color: rgba(254, 230, 244, 1);
}

.register-button {
    padding: 10px 10px 10px 20px;
}

.register-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgba(233, 254, 245, 1);
    background-color: rgba(247, 0, 145, 1);
    border: 1px solid rgba(233, 254, 245, 1);
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.register-link:hover {
    color: rgba(233, 254, 245, 1);
    background-color: rgba(34, 241, 153, 0.7);
}

.header-banner {
    position: relative;
}

.header-image, .page-image {
    width: 100%;
}

.header-image {
    box-shadow: 0px 0px 20px 5px #6c6c6a;
}

.page-image {
    box-shadow: 0px 4px 0px 0px rgb(233 245 252);
}

.studio-name {
    position: absolute;
    top: 70px; left: 100px;
}

.quote, .page-quote {
    position: absolute;
    font-style: italic;
    font-weight: bolder;
}

.quote {
    color: rgba(99, 0, 58, 1);
    top: 200px; left: 100px;
    font-size: 18px;
}

.page-quote {
    color: rgba(28, 69, 111, 1);
    top: 70px; left: 100px;
    font-size: 20px;
}

/* Home Page Styling */
.mind-spirit-box {
    padding: 20px;
    display: grid;
    grid-template-columns: 350px 1fr;
}

.body-box {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 350px;
}

.mind-img, .body-img, .spirit-img {
    margin: 10px;
    grid-row: 1/3;
    justify-self: center;
}

.body-img {
    box-shadow: 0px 0px 10px 10px rgba(34, 241, 153, 0.7);
    grid-column: 2/4;
}

.mind-img {
    box-shadow: 0px 0px 10px 10px rgba(251, 128, 200, 0.7);
}

.spirit-img {
    box-shadow: 0px 0px 10px 10px rgba(37, 150, 222, 0.7);
}


.box-info {
    margin: auto;
    padding: 20px;
    text-align: justify;
    justify-self: center;
}

.buttons {
    display: flex;
    justify-self: center;
}

.learn-button {
    align-self: center;
    text-align: center;
}

.learn-link {
    display: block;
    width: 100px;
    margin: 0 20px 20px;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgba(16, 41, 67, 1);
    background-color: rgba(37, 150, 222, 1);
    border-radius: 20px;
    border: 1px solid rgba(16, 41, 67, 1);
}

.learn-link:hover {
    color:rgba(233, 245, 252, 1);
    background-color: rgba(28, 69, 111, 1);
}

.page-title {
    text-align: center;
    color: rgba(28, 69, 111, 1);
    font-size: 50px;
    font-weight: bold;
}

.learn-title {
    margin: 0 0 20px;
    padding: 0 0 20px;
    text-align: center;
    color: rgba(28, 69, 111, 1);
    font-size: 50px;
    font-weight: bold;
}
    

/* Classes Page Styling */
.classes-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.classes-box h3 {
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold; 
    color: rgba(16, 97, 62, 1);
    text-align: center;
}

.image-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.image-group img {
    margin: 20px;
    justify-self: center;
}

.hatha1, .hatha2, .hatha3,
.warrior1, .warrior2, .warrior3 {
    box-shadow: 0px 0px 10px 10px rgba(34, 241, 153, 0.7);
}

.prana1, .prana2, .prana3,
.yin1, .yin2, .yin3 {
    box-shadow: 0px 0px 10px 10px rgba(251, 128, 200, 0.7);
}

.vin1, .vin2, .vin3,
.nidra1, .nidra2, .nidra3 {
    box-shadow: 0px 0px 10px 10px rgba(37, 150, 222, 0.7);
}


.hatha3, .vin3, .yin3 {
    grid-column: 1/3;
}

.prana3, .warrior2, .nidra3 {
    grid-column: 1/3;
    grid-row: 1;
}


/* Learn Page Styling */
.learn-box {
    display: grid;
    grid-template-columns: 200px 1fr;
}

    /* Side Navigation Sytling */
.side-height {
    height: 100%;
    border-right: 3px solid rgba(28, 69, 111, 1);
}

.side-box {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
}

.nav-title {
    margin: 10px 0 0;
    padding: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    color:rgba(16, 41, 67, 1);
}

.side-nav {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    line-height: 40px;
}

.side-nav li {
    text-decoration: none;
}

.side-nav a {
    text-decoration: none;
}

    /* Learn Content Styling */
.learn-content {
    margin: 0 10px;
    padding: 0 10px 10px;
}

.asanas {
    margin: 0;
    padding: 0;
}

.learn-content p {
    text-align: justify;
    color:rgba(16, 41, 67, 1);
}

.asanas-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.learn-images {
    box-shadow: 0px 0px 10px 5px rgba(34, 241, 153, 0.7);
}

.chakras-box {
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 20px 10px rgba(251, 128, 200, 0.7);
}

.chakras-names {
    line-height: 40px;
}

.sahasrara {
    text-shadow: 0px 0px 20px #ffd500;
}

.ajna {
    text-shadow: 0px 0px 20px #7f00ff;
}

.visuddha {
   text-shadow: 0px 0px 20px #0800ff;
}

.anahata {
    text-shadow: 0px 0px 20px #1fff01;
}

.manipura {
    text-shadow: 0px 0px 20px #feff00;
}

.svadhisthana {
    text-shadow: 0px 0px 20px #fd7f00;
}

.muladhara {
    text-shadow: 0px 0px 20px #fd0101;
}

.list-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.learn-list {
    list-style-type: none;
    padding: 0;
    line-height: 25px;
    font-size: 16px;
    color:rgba(99, 0, 58, 1);
    text-shadow: 0 0 10px rgba(37, 150, 222, 1);
}


.mantra-ex {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.mantra-ex p {
    margin: 10px;
    padding: 10px;
}

.mantra-ex h3 {
    text-shadow: 0 0 10px rgba(34, 241, 153, 0.7);
}


.mudra-ex {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.mudra-ex h3 {
    text-shadow: 0 0 20px rgba(37, 150, 222, 1);
}

.mudra-ex p {
    margin: 10px;
    padding: 10px;
    color:rgba(99, 0, 58, 1);
}

.mudra-ex img {
    margin: 10px;
    box-shadow: 0 0 20px 0 rgba(37, 150, 222, 1);
}



.sanskrit-box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 10px;
    padding: 10px;
}

.sanskrit-box p {
    margin: 0 10px 10px 0;
    padding: 10px;
    text-align: center;
}

.sanskrit-box h4 {
    text-shadow: 0 0 20px rgba(34, 241, 153, 0.7);
    font-weight: bold;
}

.dhyana {
    grid-column: 2/6;
}

.drishti {
    grid-column: 6/10;
}

.namaste {
    grid-column: 1/4;
}

.prana {
    grid-column: 4/8;
}

.satya {
    grid-column: 8/11;
}

.tapas {
    grid-column: 2/6;
}

.yoga {
    grid-column: 6/10;
}


/* Divider Styling */
.divider {
    margin: 20px 0 0;
    padding: 20px 20px 0;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
}

.divider-image {
    width: 100px;
}

.divider-line {
    width: 75%;
    border-top: 5px solid rgba(37, 150, 222, 1);
    border-radius: 10px;
}


/* Form Styling*/
form {
    margin: 20px auto;
    width: 550px;
    padding: 1em;
    border: 1px solid rgba(28, 69, 111, 1);
    border-radius: 1em;
    background-color: rgba(34, 241, 153, 0.5);
}

.news-title {
    font-size: 20px;
    padding: 0 0 10px;
    color:rgba(16, 41, 67, 1);
    font-weight: bold;
    text-align: center;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin-top: 20px;
}

label {
    color:rgba(16, 41, 67, 1)
}

input, textarea {
    padding: 10px;
    font: 16px sans-serif;
    width: 550px;
    box-sizing: border-box;
    border: 1px solid rgba(16, 41, 67, 1);
}

input:focus, textarea:focus {
    border-color: rgba(28, 69, 111, 1);
}

textarea {
    vertical-align: top;
    height: 10px;
}

.button {
    text-align: center;
}

button {
    padding: 20px;
    color: rgba(233, 245, 252, 1);
    background-color: rgba(247, 0, 145, 1);
    border-radius: 15%;
    border: 1px solid rgba(16, 41, 67, 1);
}


/* Footer Styling */
footer {
    grid-template-columns: 300px 1fr 300px;
}

.copyright-box {
    color: rgba(233, 245, 252, 1)
}

.attributes {
    color:rgba(233, 245, 252, 1);
}

.subscribe-btn {
    width: 300px;
    padding: 10px;
    justify-self: center;
}

.subscribe-link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgba(16, 41, 67, 1);
    background-color: rgba(34, 241, 153, 1);
    border: 1px solid rgba(233, 254, 245, 1);
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.subscribe-link:hover {
    color: rgba(254, 230, 244, 1);
    background-color: rgba(247, 0, 145, 1);
}

.social-links {
    justify-self: right;
}